@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face{
  font-family: 'brandon';
  src: url(./fonts/brandon/BrandonGrotesque-Regular.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face{
  font-family: 'brandon-bold';
  src: url(./fonts/brandon/brandon-grotesque-black.otf);
  font-style: normal;
  font-weight: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #03e07d;
  --gray-color: #cccccc;
  --dark-gray-color: #b9b9b9;
}

body{
  color: black;
  font-size: 1.2rem;
  font-family: 'brandon';
}

main{
  padding: 2rem 0;
  border-bottom: 5px solid #dbdbdb;
}


/* utility classes */
.container1{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
.container2{
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}
.container3{
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
}
.container4{
  width: 70%;
  max-width: 750px;
  margin: 1em auto;
}
.container5{
  width: 50%;
  max-width: 300px;
  margin: 1em auto;
}

.primary{color: var(--primary-color);}
.gray{color: var(--dark-gray-color);}
.italic{ font-style: italic;}

.shadow{ box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);}

.p1{padding: 1em !important;}
.px1{padding: 0 1em !important;}

.block{display: block;}

.border{
  border: 4px solid var(--main-color);
  border-radius: 15px;
}

.border-left{
  border-left: 4px solid rgb(124, 124, 124);
}


/* main styling */
/* nav */
nav{
  background: white;
  margin: 0 auto;
  padding: 1em 0;
  position: sticky;
  transition: all 0.5s;
  top: 0;
  z-index: 10;
}

nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 450px){
  /* nav .nav-container{
    flex-direction: column;
  }
  nav .logo{
    margin-bottom: 0.5em;
  } */
  nav .nav-container ul{
    z-index: 100;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    transform: translateX(-100%);
    transition: all 1s;
  }
  nav .nav-container ul > * {
    padding: 1em 0;
  }
  nav .nav-container .mobile-menu-toggle{
    display: inline-block;
  }
}

nav .logo{
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-family: 'brandon-bold';
  font-weight: 900;
}

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: var(--gray-color);
  padding: 0.7em;
  margin: 0 1em;
}

nav ul a:hover,
nav .logo:hover{
  color: var(--primary-color);
  transition: all 0.5s;
}



/* header */
header{
  padding: 2em 0;
  margin: 4em auto !important;
}
@media screen and (max-width: 600px){
  header{
    margin: 1em auto !important;
  }
}
header .header-top{
  font-size: 2rem;
  color: #ccc;
}
header .header-top a {
  color: #ccc;
}
header .header-bottom{
  font-size: 3.2rem;
}
header .people {
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
}

header .user {
  /* text-decoration: line-through; */
  position: relative;
}

header .user::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #000;
  bottom: 40%;
  margin: 0 auto;
  left: 0;
  right: 0;
}






/* section */
.home-section{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: stretch;
  justify-items: center;
  padding: 2em;
  margin: 3em 5px;
}

.home-section > *{
  max-width: 100%;
}

.home-section .section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  padding: 1em;
}

.home-section .section-text img{
  width: 55px;
}
/* skate image exeption */
/* /// */
.home-section.section-1 img{ width: 85px;}
/* /// */

.home-section .section-info{
   font-size: 0.9rem;
}

.home-section .section-head{
  font-family: 'brandon-bold';
  font-size: 2rem;
}
/* the button */
.home-section .read-case,
.read-case{
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.8em 1em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  color: white;
  background: black;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}
.home-section .read-case:hover,
.read-case:hover{
  background:#435286 ;
}


.section-1{
  border: 5px solid #aee9e5;
  box-shadow: -9px 9px #7cdbd5;
}
.section-2{
  border: 5px solid #fbd867;
  box-shadow: -9px 9px #f9be02;
}
.section-3{
  border: 5px solid #f9848c;
  box-shadow: -9px 9px #f53240;
}

@media screen and (max-width: 700px){
  .home-section{
    grid-template-columns: auto;
  }
}



/* footer */
footer{
  padding: 2em 0 3em 0;
}
/* footer top */
footer .footer-top{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2em;
}

footer .footer-top .email{
  text-decoration: none;
  font-family: 'brandon-bold';
  font-size: 1.4rem;
}
footer .footer-top div.footer-p {
  margin-bottom: 1em;
}


/* footer bottom */
footer .footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  list-style: none; 
}

footer .footer-bottom .footer-border{
  width: 2px;
  height: 14px;
  background: black;
  display: inline-block;
}

footer .footer-bottom .rights {
  color: #7c7c7c;
}
@media screen and (max-width: 600px){
footer .footer-top{
  align-items: center;
  text-align: center;
}
  footer .footer-bottom {
    flex-direction: column;
  }
  footer .footer-bottom .footer-links{
    order: -1;
    margin-bottom: 1em;
  }
}




/* ui page */
/* ui styling is in gallery.css */








/* me page */
/* me styling is in me.css */

.mobile-menu{
  z-index: 100;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  transform: translateX(-100%);
  transition: all 1s;
}

.mobile-menu > * {
  padding: 1em 0;
}

.mobile-menu-toggle{
  z-index: 1000;
  width: 36px;
  height: 36px;
  background: white;
  border: 3px solid #435286;
  border-radius: 5px;
  position: relative;
  box-sizing: content-box;
}

.mobile-menu-toggle .dot{
  width: 4px;
  height: 4px ;
  transform: scale(1.4);
  background: #435286;
  border-radius: 10px;
  position: absolute;
  transition: all 0.5s;
}
.dot1,.dot2,.dot3{
  top: 4px;
}
.dot4,.dot5,.dot6{
  top: 16px;
}
.dot7,.dot8,.dot9{
  top: 28px;
}
.dot1,.dot4,.dot7{
  left: 4px;
}
.dot2,.dot5,.dot8{
  left: 16px;
}
.dot3,.dot6,.dot9{
  left: 28px;
}

.rotate .dot2{
  top: 10px;
  left: 10px;
}
.rotate .dot4{
  top: 22px;
  left: 10px;
}
.rotate .dot8{
  top: 22px;
  left: 22px;
}
.rotate .dot6{
  top: 10px;
  left: 22px;
}

nav .nav-container ul.slide{
  transform: translateX(0);
}
.signal{
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  z-index: -100;
}


/* modal */
.modal {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 2em;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.modal img {
  width: 80vmin;
  height: 80vmin;
  object-fit: contain;
}

.modal .closeBtn {
  position: absolute;
  top: 1vmax;
  right: 1vmax;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  padding: 1em;
  background: rgba(245, 245, 245, 0.5);
  border-radius: 100px;
}